<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Top Atractions of Nepal | VisitNepal2020</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Your page description here" />
  <meta name="author" content="" />

  <!-- css -->
  <link href="css/bootstrap.css" rel="stylesheet" />
  <link href="css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />

  <!-- =======================================================
    Theme Name: Remember
    Theme URL: https://bootstrapmade.com/remember-free-multipurpose-bootstrap-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <div id="wrapper">
    <!-- start header -->
    <header>
      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="#"> Home</a> &#47;</li>
                <li><a href="#">/ Terms</a> &#47;</li>
                <li><a href="#">/ Privacy policy</a></li>
                <li><a href="#">/ Sign Up</a></li>
              </ul>
            </div>
            <div class="span6">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i
                      class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i
                      class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i
                      class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><abackgar href="#" data-placement="bottom" title="Pinterest"><i
                      class="icon-circled icon-pinterest  icon-bglight"></i></abackgar></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i
                      class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="container">


        <div class="row nomargin">
          <div class="span4">
            <div class="logo">
              <h1><a href="index.html"><i class=""></i> Visit Nepal 2020 </a></h1>
            </div>
          </div>
          </div>
        </div> 
    </div>  
    <div class=body>  
        <div class="headingi">
            <h3 style="color:red;">2nd Annual Ice Climbing Festival</h3>
        </div>
        <div class="forbackimg">
            <div class="backimg3"></div>
        </div>
        <div class="row">
            <div class="column1">With the hope to create a record for playing Ice Hockey in the highest altitude on Guinness Book of World Records, a friendly match between players of various countries like the USA, Canada, India, and Switzerland among others is being organized at the third lake of Gokyo, which is the highest freshwater lake system of .</div>
            <div class="column2">s
              With the hope to create a record for playing Ice Hockey in the highest altitude on Guinness Book of World Records, a friendly match between players of various countries like the USA, Canada, India, and Switzerland among others is being organized at the third lake of Gokyo, which is the highest freshwater lake system of the world. Similarly, the event will also see Olympians figure skating around the lake.
              
              The event also aims to promote winter tourism in Nepal as well as introduce figure skating and ice hockey sports in Nepal.</div>
          </div>
          <footer>
            <div class="container">
              <div class="row">
                <div class="span4">
                  <div class="widget">
                    <div class="footer_logo">
                      <h3><a href="index.html"><i class="icon-tint"></i> VisitNepal</a></h3>
                    </div>
                    <address>
                      <strong>VisitNepal 2020 Inc</strong><br>
                      Butwal, Rupandehi, Nepal
                      Postal code : 32907
                    </address>
                    <p>
                      <i class="icon-phone"></i> +977-71545795, +977-9857050004 <br>
                      <i class="icon-envelope-alt"></i> contact@visitnepal2020.com
                    </p>
                  </div>
                </div>
                <div class="span4">
                  <div class="widget">
                    <h5 class="widgetheading">Browse pages</h5>
                    <ul class="link-list">
                      <li><a href="#">Our company</a></li>
                      <li><a href="#">Terms and conditions</a></li>
                      <li><a href="#">Privacy policy</a></li>
                      <li><a href="#">Press release</a></li>
                      <li><a href="#">What we have done</a></li>
                      <li><a href="#">Our support forum</a></li>
                    </ul>
        
                  </div>
                </div>
                <div class="span4">
                  <div class="widget">
                    <img src="https://visitnepal2020.com/wp-content/uploads/2019/12/nepal-logo.svg">
                    <div class="flickr_badge">
                      
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
              </div>
            </div>
            <div id="sub-footer">
              <div class="container">
                <div class="row">
                  <div class="span6">
                    <div class="copyright">
                      <p><span>&copy; VisitNepal2020 Inc. All right reserved</span></p>
                    </div>
        
                  </div>
        
                  <div class="span6">
                    <div class="credits">
                      <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                        -->
                      Created by <a href="#">TensionFreeGroup</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </footer>
          </div>

